#mainlogo{
  display:block;
}
.path {
  animation: path_i 3s linear  forwards;
  animation-delay: 7.2s;
  -webkit-animation: path_i 3s linear  forwards;
  -webkit-animation-delay:7.2s;
  fill-opacity:0;
  stroke-opacity:0;
}
.line{
  stroke-dasharray: 701;
  stroke-dashoffset: 701;
  animation: line_a 3s linear alternate forwards,fadeOut .8s linear forwards;
  -webkit-animation: line_a 3s linear alternate forwards,fadeOut .8s linear forwards;
  fill-opacity:0;
}
#intro:before { /* BLACK FADE OUT */
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 0;
    background: black;
    opacity: 1;

    -webkit-animation-name: fadeOut; 
            animation-name: fadeOut; 
    -webkit-animation-duration: .8s; 
            animation-duration: .8s; 
    -webkit-animation-delay: 10s; 
            animation-delay: 10s; 
    -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
            animation-timing-function: linear; 
}
#help0{
    animation: line_a 2s linear alternate forwards,fadeOut .8s linear forwards;
    animation-delay: .2s,9s;
    -webkit-animation: line_a 2s linear alternate forwards,fadeOut .8s linear forwards;
    -webkit-animation-delay: .2s,9s;
}
#help1{
    animation-delay: .8s,9s;
    -webkit-animation-delay: .8s,9s;
}
#help2{
    animation-delay:1.4s,9s;
    -webkit-animation-delay:1.4s,9s;
}
#help3{
    animation-delay: 2s,9s;
    -webkit-animation-delay: 2s,9s;
}
#help4{
    animation-delay: 2.6s,9s;
    -webkit-animation-delay: 2.6s,9s;
}
#help5{
    animation-delay: 3.2s,9s;
    -webkit-animation-delay:  3.2s,9s;
}
#help6{
    animation-delay: 3.8s,9s;
    -webkit-animation-delay: 3.8s,9s;
}
#path0{
  stroke-dasharray: 1109;
  stroke-dashoffset: 1109;
  animation: path_a 3s linear  forwards;
  animation-delay: 5s;
  -webkit-animation: path_a 3s linear  forwards;
  -webkit-animation-delay: 5s;
  fill-opacity:0;
}

@keyframes line_a {
  0% {
    stroke-dashoffset: 701;
  }
  50%{
      stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes path_i {
  0% {
    fill-opacity:0;
    stroke-opacity:0;
  }
  50%{
    fill-opacity:1.0;
  }
  75%{
    stroke-opacity:1.0;
  }
  100% {
    fill-opacity:1.0;
    stroke-opacity:1.0;
  }
}
@keyframes path_a {
  0% {
    stroke-dashoffset: 1109;
  }
  70%{
    fill-opacity:0;
    stroke-dashoffset: 0;
  }
  90%{
    fill-opacity:1.0;
  }
  100% {
    fill-opacity:1.0;
    stroke-dashoffset: 0;
  }
}


@-webkit-keyframes line_a {
  0% {
    stroke-dashoffset: 701;
  }
  50%{
      stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes path_i {
  0% {
    fill-opacity:0;
    stroke-opacity:0;
  }
  50%{
    fill-opacity:1.0;
  }
  75%{
    stroke-opacity:1.0;
  }
  100% {
    fill-opacity:1.0;
    stroke-opacity:1.0;
  }
}
@-webkit-keyframes path_a {
  0% {
    stroke-dashoffset: 1109;
  }
  70%{
    fill-opacity:0;
    stroke-dashoffset: 0;
  }
  90%{
    fill-opacity:1.0;
  }
  100% {
    fill-opacity:1.0;
    stroke-dashoffset: 0;
  }
}



@-webkit-keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
@keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 